#result {
  display: none;
  margin-top:2%
}

h1 {
  font-weight:300;
  margin-top:5%;
  margin-bottom:5%;
}

input.button {
  color: white;
  background-color: #990033;
}

.header img {
  float: right;
  width: 48px;
  height: 68px;
  background: white;
  padding-right:40%;
}

.header h1 {
  position: relative;
  top: 18px;
  padding-left: 35%
  ;
}
